     <div class="userDetails">
                <div class="comment-data">
                  <div class="profilepic">
                    <div class="profile_img">
                      <div class="image">
                        <!-- User Profile Image -->
                        <img src="/static/images/person.png" alt="img8" />
                      </div>
                    </div>
                  </div>

                  <!--User's username-->
                  <p><b>{{userId.username}}</b>- {{comment}}</p>
                </div>
              </div>