<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>Home Page</title>
  </head>

  <body>

    {{#if errors}}
      <div>
        <div class="errorContainer">
          {{#each errors}}
            <p>{{this}}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

    <div id="wrapper">
      <header>

        <nav>
          <div>
            <a href="/">Home</a>
            <a href="/animals">Dashboard</a>
            <a href="/animals/search">Search</a>
          </div>
          {{#if user}}
            <div class="user">
              <a href="/animals/add">Add Animal</a>
              <a href="/auth/logout">Logout</a>
            </div>
          {{else}}
            <div class="guest">
              <a href="/auth/login">Login</a>
              <a href="/auth/register">Register</a>
            </div>
          {{/if}}
        </nav>
      </header>

      {{{body}}}

      <footer>
        <p>@Friendly World</p>
      </footer>
    </div>
  </body>

</html>