<h1>Login Page</h1>
<form method="post">
  <label>Username:
    <input type="text" name="username" value="{{body.username}}" />
  </label>
  <label>Password: <input type="password" name="password" /> </label>

  <button type="submit">Register</button>
</form>