<h1>Register Page</h1>
<form method="post" action="/auth/register">
  <label>Username: <input type="text" name="username" value="{{body.username}}"/> </label>
  <label>Password: <input type="password" name="password" /> </label>
  <label>Repeat: <input type="password" name="repass" /> </label>

  <button type="submit">Register</button>
</form>